h1 {
  color: goldenrod !important;
  font-family: "Segoe UI";
  text-align: center;
  background-color: hsla(9, 28%, 78%, 0.5);
}

p {
  font-family: Arial;
  border: 2px solid rgb(204, 249, 204);
  border-radius: 10px;
  color: white;
  background-color: rgb(235, 218, 218);
  font-style: italic;
  font-weight: 200;
  font-variant: small-caps;
}
B {
  color: red;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}
body {
  background-image: url("image/er.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: scroll;
}
a {
  text-decoration: none;
  text-align: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #551515;
}
a:visited {
  background-color: burlywood;
}

.all-p {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.p-1 {
  margin: 30px;
  
}
.p-2 {
  margin: 30px;
}
.p-3 {
  margin: 30px;
}
